[alias]
    br = --no-pager branch
    co = checkout
    ci = commit
    cp = cherry-pick -x
    st = status
    pl = pull
    ls = log --stat --graph
    mylog = ls --author=xiangce --since=1.week
    last = ls -1 HEAD
    hist = --no-pager log -10 --pretty=format:\"%H %ad | %s%d [%an]\" --graph --date=short
    allhist = log -16 --pretty=format:\"%H %ad | %s%d [%an]\" --graph --date=short
[user]
    name = Xiangce Liu
    email = xiangceliu@redhat.com
[core]
    editor = vim
