[alias]
    ; co = checkout
    ; ci = commit -s
    cp = cherry-pick -x
    ; st = status
    ; pl = pull
    ; plr = pull -r
    ; st = status
    ; cb = co -b
    ; ls = log --stat --graph
    br = "!git --no-pager branch"
    ; lh = "!git --no-pager ls -2 HEAD"
    ; lm = ls --author=xiangce --since=1.week
    h = "!git --no-pager log -10 --pretty=format:\"%H %ad | %s%d [%an]\" --graph --date=short"
    hm = "!git --no-pager log -10 --pretty=format:\"%H %ad | %s%d [%an]\" --graph --date=short master"
    ; hall = log -16 --pretty=format:\"%H %ad | %s%d [%an]\" --graph --date=short
    ; rbm = rebase master
[user]
    name = Xiangce Liu
    email = xiangceliu@redhat.com
[core]
    editor = vim
    excludesfile = /Users/liuxc/.gitignore_global
